
.district-selector {
  margin-top: 100px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.district-option {
  width: 7rem;
  height: 2rem;
  border: 2px solid green;
  border-radius: 8px;
  text-align: center;
}

.unit {
  display: flex;
}

.unit-right, .unit-left {
  width: 50%;
  background-color: rgb(170, 113, 113);
  text-align: center;
  color: white;
}

.section {
  display: flex;
  width: 100vw;
}

.para {
  text-align: center;
  color: red;
  font-weight: bold;
}

.card-button {
  margin-top: 5px;
  background-color: rgb(59, 4, 131);
  padding: 0px 5px;
  border: none;
  border-radius: 10%;
}

.card-link {
  text-decoration: none;
  color: red;
}

.district-details {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 560px) {
  .district-selector {
    width: 100vw;
  }
  
  .district-option {
    width: 4rem;
    height: 1.5rem;
    font-size: xx-small;
  }
}
