
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: ; */
  font-family: "Poppins", sans-serif;
  /* background-color: #070223; */
  /* background-color: #0b0217; */
}
.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(/login-page-img.jpg);
  background-size: cover;
  background-position: center;
}
.form_container {
  position: fixed;
  max-width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  z-index: 101;
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1);
}

.form_container h2 {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  color: #0b0217;
}

.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}

.line{
  height: 2px;
  width: 85%;
  background: rgba(39, 37, 37, 0.158);
}
.input_box input {
  height: 70%;
  width: 100%;
  border: none;
  outline: none;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5x solid #aaaaaa;
}
.input_box input:focus {
  border-color: #ff0000;
}

.or{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  padding-top: 16px;
}
 .orline{
  height: 2px;
  width: 30%;
  margin-top: 15px;
  background: rgba(39, 37, 37, 0.158);
}

.or h4{
  color: red;
  font-weight: 600;
}

.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.forgot_pw {
  color: #ff0000;
  font-size: 16px;
}
.form_container .button {
  background-color: #ff0000;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  border: none;
}
.login_signup {
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}

