.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
  background-color: #fcc9c9;
}
.name {
  display: inline;
  position: absolute;
  font-weight: 900;
  font-size: 36px;
  padding-left: 50px;
  color: #5875f7;
}

.logo img {
  width: 75px;
  height: 55px;
  padding-left: 30px;
}

.navlinks ul {
  margin: 0;
  font-size: larger;
  font-weight: 700;
}

.navlinks ul li {
  display: inline-block;
  margin-right: 30px;
}

.navlinks ul li a {
  color: #fff;
  text-decoration: none;
}

.navlinks ul li:hover a{
  color: red;
}

.navlinks ul li:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.navlinks button {
  border: none;
  height: 30px;
  width: 60px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f8afaf;
}

.navlinks button:hover {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
