.container{
 width: 100%;
}
.banner img {
  width: 100%;
  height: 150px;
}

.TMcontaner {
  width: 100%;
  /* height: auto; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  text-align: center;
  /* background-image: url(image/backimg.jpg); */
  background-color: rgb(226, 226, 226);
  background-repeat: no-repeat;
  background-size: 100vw;
}
.infocordA {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border: 1px solid black;
  margin: 1.5rem;
  box-shadow: 0px 5px 5px black;
  transition: all 1s ease 0s;
}
.infocordA:hover {
  transform: translateY(3px);
  background-color: aquamarine;
  border: 0px;
}

.infocordB {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border: 1px solid black;
  margin: 1.5rem;
  box-shadow: 0px 5px 5px black;
  transition: all 1s ease 0s;
}
.infocordB:hover {
  transform: translateY(3px);
  background-color: rgb(127, 255, 251);
  border: 0px;
}
.DRN {
  font-size: medium;
  color: black;
  margin: 5px;
  overflow: hidden;
}
.cardtm {
  font-weight: bolder;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-align: justify;
  font-style: italic;
  font-weight: bold;
  text-align: justify;
}


.Mcontaner {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  gap: 30px;
  text-align: center;
  background-color: rgb(226, 226, 226);
}

.infocord1 {
  background-color: rgb(134, 0, 0);
  border-radius: 15px;
  margin: 1rem;
  box-shadow: 10px 5px 5px rgb(55, 54, 54);
  transition: all 2s ease 0s;
}

.infocord2 {
  background-color: rgb(40, 37, 244);
  border-radius: 15px;
  margin: 1rem;
  box-shadow: 10px 5px 5px rgb(55, 54, 54);
  transition: all 0.7s ease 0s;
}

.infocord3 {
  background-color: rgb(255, 138, 5);
  border-radius: 15px;
  margin: 1rem;
  box-shadow: 10px 5px 5px rgb(55, 54, 54);
  transition: all 0.7s ease 0s;
}

.infocord4 {
  background-color: rgb(216, 0, 0);
  border-radius: 15px;
  margin: 1rem;
  box-shadow: 10px 5px 5px rgb(55, 54, 54);
  transition: all 0.7s ease 0s;
}

.infocord5 {
  background-color: rgb(16, 96, 0);
  border-radius: 15px;
  margin: 1rem;
  box-shadow: 10px 5px 5px rgb(55, 54, 54);
  transition: all 0.7s ease 0s;
}

/* hover transition */
.infocord1:hover {
  transform: translateX(3px);
  box-shadow: 5px 20px 50px rgba(78, 78, 78, 0.1);
}
.infocord2:hover {
  transform: translateX(3px);
  box-shadow: 5px 20px 50px rgba(78, 78, 78, 0.1);
}
.infocord3:hover {
  transform: translateX(3px);
  box-shadow: 5px 20px 50px rgba(78, 78, 78, 0.1);
}
.infocord4:hover {
  transform: translateX(3px);
  box-shadow: 5px 20px 50px rgba(78, 78, 78, 0.1);
}
.infocord5:hover {
  transform: translateX(3px);
  box-shadow: 5px 20px 50px rgba(78, 78, 78, 0.1);
}

#mlogo {
  color: white;
  font-size: larger;
}
.cardm {
  font-weight: bolder;
  text-decoration: none;
  color: white;
  text-align: justify;
}

/* -----------*/

.TLcontaner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  gap: 10px;
  text-align: center;
}

.LTleft {
  width: 45vw;
  display: flex;
}

.LTright {
  width: 45vw;
  margin-right: 25px;
}

.image {
  width: 300vw;
  height: 10vh;
  background-color: brown;
}

.LTT {
  background-size: cover;
}

.LTT img{
  width: 100%;
  height: 306px;
}

.blockquote {
  text-align: center;
  font-style: italic;
  font-weight: 500;
  margin: 0px 10px;
}

.LTB {
  background-color: rgb(255, 255, 255);
  width: 50vw;
  height: 10rem;
  text-align: center;
}

.footer {
  background-color: rgb(6, 6, 73);
}

.footerHtext {
  color: rgb(153, 153, 153);
}

.footertext {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.fsub {
  width: 20vw;
}

.fdivf {
  display: flex;
}

.text {
  text-align: center;
  color: red;
}
